# sbf settings
#nodeps				= false
#exclude			= true
#svnUrls			= []
#projectExclude		= []
#svnCheckoutExclude	= []
#svnUpdateExclude	= []
#clVersion			= 'highest'
#installPaths		= []
#buildPath			= 'build'
#SConsignFilePath	= 'buildPath' or '~'
#cachePath			= ''
#cacheOn			= False
#config				= 'release' # debug or release : the default compilation mode.
#warningLevel		= 'normal'
